.header {
    display: flex;
    margin-left: 260px;
    padding: 0 32px 0 32px;
    height: 60px;
    border: 1px solid #e7eaf3;
    border-left: none;
}
.top-nav {
    display: flex;
    align-items: center;
}
.nav-content-left {
    display: flex;
    height: 100%;
    align-items: center;
    border-radius: 10px;
    .hide {
        margin-right: 16px;
        color: #71869d;
    }
}
.search-form {
    display: flex;
    align-items: center;
    width: 336px;
    height: 42px;
    input {
        width: 100%;
        height: 100%;
        border-radius: 7px;
        padding: 8px 42px 8px 42px;
    }
    :hover {
        background-color: #f6f7fa;
    }
    .s {
        position: relative;
        right: -30px;
    }
}
//Nav content right
.nav-content-right {
    display: flex;
    margin-left: 630px;
}
.nav-left-item {
    display: flex;
}
.r-item {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 42px;
    height: 42px;
    margin-right: 8px;

    .unfold {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .unfold:hover {
        color: #377dff;
        background-color: rgba(55, 125, 255, 0.1);
    }

    .avatar {
        border-radius: 50%;
        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
//
.dropdown-menu {
    position: absolute;
    width: 256px;
    top: 50px;
    right: 0px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-header {
    // các style cho dropdown-header
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e7eaf3;
}

.dropdown-avatar {
    // các style cho dropdown-avatar
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar {
    // các style cho avatar
    position: relative;
    cursor: pointer;
}

.avatar-img {
    // các style cho avatar-img
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dropdown-body {
    .dropdown-item {
        padding: 6px 24px;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}
.dropdown-footer {
    padding-bottom: 20px;
    .dropdown-item {
        padding: 6px 24px;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}
