.wrapper {
}
.end-sec {
    border-top: 1px solid #7a7878;
    margin-bottom: 35px;
}

.inner-footer-info {
    margin: 0 15px 20px 15px;
    height: 198px;
}
.pd {
    padding: 0 20px 0 20px;
    h4 {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 8px;
        font-weight: 600;
        color: black;
    }
}
.info-content {
    height: 34px;
    width: 100%;
    p {
        margin-bottom: 16px;
    }
}
.titleHotline {
    font-size: 24px;
    &:hover {
        color: darkblue;
    }
}
.info-feedback {
    margin-top: 50px;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 18px;
}
.moreinfoFooter {
    float: left;
    width: 100%;
    font-size: 13px;
    margin: 5px 0 0 0;
    font-weight: 300;
}
.mft {
    width: 100%;
    height: 20px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.4;
    &:hover > a {
        color: darkblue;
    }
}
.social-list {
    display: flex;
    justify-content: start;
}
.social {
    font-size: 25px;
    margin: 0 5px 18px 5px;
}
