.wrapper {
    padding-top: var(--default-layout-header-height);
}
.site-content {
}
.product-detail-layout {
}
.container-fluid {
}
.pd12 {
    padding: 0 12px 0 12px;
}
.product-detail {
    padding: 30px 0 10px 0;
    display: grid;
    margin-bottom: 32px;
    gap: 2.2rem;
    grid-template-columns: 50% 1fr;
}
.product-detail-thumb {
    width: 748px;
}
.product-main-thumb {
    width: 748px;
    height: 748px;
    margin-bottom: 8px;
}
.thumb-tag {
}
.wish-list {
}
.sale-tag {
}
.main-thumb-img {
    width: 748px;
    height: 748px;
    img {
        width: 100%;
        height: 748px;
        object-fit: cover;
    }
}
.product-mini-thumb {
}
.slick-slider {
    width: 100%;
    display: table;
    table-layout: fixed;
}
.slick-list {
}
.slick-item {
    display: flex;
}
.item-thumb {
    margin: 4px;
    img {
        width: 142px;
        height: 142px;
        border-radius: 4px;
        &:target {
            border: 3px solid #22c2d5;
        }
    }
}
.product-detail-main {
}
.product-name {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
}
.product-top-info {
    display: flex;
    margin-bottom: 20px;
    gap: 8px 24px;
}
.product-rating {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
}
.star {
}
.product-review {
}
.product-like {
}
.product-price {
    margin-bottom: 15px;
    justify-self: flex-start;
    gap: 8px;
    font-size: 24px;
    font-weight: bold;
    color: #ed1c24;
}
.sale-des {
}
.detail-main-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.product-bottom-info {
}
.product-option {
    height: 40px;
    display: grid;
    grid-template-columns: 113px 1fr;
    gap: 15px;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.option-label {
}
.color-option {
}
.size-option {
    display: flex;
    flex-wrap: inherit;
    -webkit-box-align: center;
    gap: 15px;
    a {
        width: 38px;
        height: 37px;
        padding: 7px 9px;
        text-align: center;
        &:hover {
            border: 2px solid red;
        }
    }
}
.size-guide-link {
    margin-bottom: 20px;
}
.fild-local-store {
    padding: 6px 10px;
    margin-bottom: 20px;
    display: inherit;
    text-align: center;
    border: 1px solid red;
    text-transform: uppercase;
    font-size: 14px;
}
.product-cart-action {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 15px;
    height: 33px;
}
.btn-buy {
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    background-color: #ed1c24;
    color: #fff;
    -webkit-box-pack: center;
}
.btn-add-to-cart {
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid red;
    color: red;
    -webkit-box-pack: center;
}
.product-policy {
    padding: 20px 0px;
    border-bottom: 1px solid #d9d9d9;
}
.box-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.03em;
}
.policy-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 33.33333333%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.policy-icon {
    position: relative;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    img {
        width: 35px;
        height: 35px;
    }
}
.policy-title {
}
.nav-tabs {
    display: flex;
    background-color: #f0f0f0;
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    gap: 12px;
}
.nav-item {
    button {
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 6px;
        text-transform: uppercase;
        color: #000000;
        &:hover {
            background: #ffffff;
        }
    }
}
.tab-content {
    border: 1px solid #d9d9d9;
}
.tab-pane {
    padding: 10px;
    line-height: 2;
    p {
        font-size: 10.5pt;
        font-family: Arial, sans-serif;
        color: rgb(67, 67, 67);
        font-weight: 700;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-variant-alternates: normal;
        font-variant-position: normal;
        vertical-align: baseline;
    }
    ul {
        padding-inline-start: 48px;
        li {
            list-style-type: disc;
        }
    }
}

.mb-32 {
    margin-bottom: 32px;
}
.filter-side-bar {
}
.combo-product {
}
.product-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 16px;
}
.combo-product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 12px;
    padding-bottom: 12px;
}
.product-grid-item {
    width: 364px;
    margin-bottom: 20px;
}
.product-thumb {
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.product-info {
    width: 100%;
    margin-bottom: 4px;
}
.grid-p-title {
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.grid-p-price {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ed1c24;
}
