.content {
    padding: 28px 32px;
    .header {
        padding-bottom: 28px;
        margin-bottom: 36px;
        border-bottom: 1px solid #e3f7e3;

        h2 {
            font-size: 22px;
            font-weight: bold;
        }
    }
}
